# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Backup Files
*.bak

# Python cache
.pytest_cache/
.mypy_cache/

# SQLite
*.db
